@import "./variables.scss";

.dropdown{
    position: relative;
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    width: 100%;
    &:hover{
        border: 1px solid $border-color;
    }
    
}

.dropdown-options{
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    z-index: 1000;

    li{
        background-color: $primary-color;
        padding: 10px;
        list-style: none;
        cursor: pointer;
        &:hover{
            background-color: $secondary-color;
            color: $primary-color;
        }
    }
}
