@import "./dropdown.scss";
.search-and-filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 45%;

}
.search-input{
    width: 50%;
    padding: 20px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    font-size: 1.5rem;

    &:focus{
        outline: none;
    }
}