@use './styles/_article.scss' as article;
@use './styles/_header.scss' as header;
@import './styles/variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    &:visited{
        color: inherit;
    }
    &:hover{
        text-decoration: underline;
    }
}

body{
    background-color: $primary-color;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: $primary-color;
}