@use './styles/_article.scss' as article;
@use './styles/_header.scss' as header;
@use './styles/_searchAndFilter.scss' as searchAndFilter;
@import './styles/variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    &:visited{
        color: inherit;
    }
    &:hover{
        text-decoration: underline;
    }
}

body{
    background-color: $primary-color;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: $primary-color;
    padding: 0 10px;
}

footer{
    text-align: center;
    padding: 20px 0;
    &::before{
        background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(226, 226, 226);
    border-top: 2px solid rgb(226, 226, 226);
    content: "";
    display: block;
    height: 1px;
    margin-top: 0px;
    }

}